<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog da Mafê | Django Girls</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Maria Fernanda</a></h1>
    </div>

    <div>
        <p>publicado: 16.11.2024, 15:03</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam doloremque maxime rem sunt, porro vero aperiam incidunt exercitationem sint, et aspernatur nulla, eos ad. Explicabo ea sapiente rerum fugit?</p>
    </div>

    <div>
        <p>publicado: 16.11.2024, 15:30</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas sit quidem, magnam nobis accusamus atque libero! Iusto commodi, fugiat minus culpa velit consequuntur eligendi dolore molestiae perspiciatis assumenda quos.</p>
    </div>
</body>
</html>